body {
      font-family: Arial, sans-serif;
      font-size: 17px;
      line-height: 1.8;
      color: #333;
      background-color: #f2fafc;
    }

    .login-page {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
    }

    .login-box {
      width: 100%;
      background-color: #ffffff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .login-box .card-header {
      background-color: #528B8B;
      color: #fff;
      padding: 20px 20px;
      font-size: 27px;
      border-radius: 5px 5px 0 0;
      text-align: center; 
      font-weight: bold; 
    }

    .login-box .card-body {
        padding: 20px;
    }

    .login-box .form-group {
      margin-bottom: 1.5rem;
    }

    .login-box .form-control {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      box-sizing: border-box;
      transition: border-color 0.2s ease-in-out;
      font-size: 17px; 
    }

    .login-box .form-control:focus {
      border-color: #528B8B;
      outline: none;
      box-shadow: 0 0 0 0.2rem #8DEEEE;
    }

    .login-box .btn:hover {
      background-color: #2F4F4F;
    }

    .login-box .login-box-msg {
      color: #f00;
      font-size: 17px;
      margin-top: 1rem;
    }

    .login-box .btn {
      width: 100%;
      background-color: #528B8B;
      color: #fff;
      padding: 10px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
      font-size: 18px;
    }

    @media (max-width: 576px) {
      .login-page {
          width: 100%;
      }
    }